body {
    background:  #F2F2F2 ;
    margin: 5px;
    font-family: 'Lato', sans-serif;
  }

.row {
    margin-top: 30px;
}

.search-bar {
    padding-top: 20px;
    text-align: center;
    background: #282828;
    border-bottom: 1px solid #222;
    height: 60px !important;
}

.search-bar input{
    width: 75%;
    padding-left: 8px;
    font-size: 18px;
    height: 30px;
    background-color: #FFF;
    border-radius: 20px;
    border: 1px solid #282828;
}

.logo{
    width: 10%;
    margin-right: 5%; 
}

.inputEnter{
    margin-left: -18%;
}

.inputEnter{
    float: right;
    width: 100%;
}

hr{
    color: #ccc;
}

.video-item img{
    max-width: 70%;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 55%;
}

.card-1 {
    
    border-radius: 5px;
    float: right;
	background:#F2F2F2;
	margin:5px auto;
}

.card-2 {
    width: 90%;
    border-radius: 5px;
    font-size: 18px;
    background: #f2F2F2;
    margin-top: 5px;
    line-height: 1.5;
    margin-left: 25px;
}
.list-group-item {
    width: -moz-available;
    width: 95%;
    margin-right: 5%;
    cursor: pointer;
    list-style:none;
    float: right !important;
    text-decoration: none;
    
}

.list-group {
    width: 40%;
    display: -moz-groupbox;
    position: relative;
    float: right;
    margin-top: -5px;
}

.embed-responsive-16by9 {
    width: 60%;
}


.embed-responsive-item{
    width: 90%;
    height: 350px;
    margin-left: 3%;
    box-shadow: -1px 20px 66px -20px black;
}

.media-left {
    float: left;
}

.media-object{
    margin-left: 5px;
    margin-top: 5px;
}

.yt-title{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.yt-desc{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.media-heading{
    padding-left: 27% !important;
    padding-right: 2%;
    font-size: 18px;
}
